<!DOCTYPE html>
<html>
<head>
    <title>Star Blog</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="<{$Think.const.CSS}>/blog.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrap">
    <nav id="w2" class="navbar-fixed-top navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w2-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Star Blog"></a>
            </div>
            <div id="w2-collapse" class="collapse navbar-collapse">
            <ul id="w3" class="navbar-nav navbar-left nav">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="/article">文章</a></li>
                <li class="hidden-sm"><a href="/question">问答</a></li>
                <li><a href="/about">关于</a></li>
            </ul>
            <ul id="w4" class="navbar-nav navbar-right nav">
                <li><a href="/user/notice"><i class="fa fa-bell"></i> </a></li>
                <li class="dropdown"><a class="avatar dropdown-toggle" href="#" data-toggle="dropdown"><img src="/uploads/avatar/000/03/22/44_avatar_small.jpg" alt="musicsnap"> <b class="caret"></b></a>
                    <ul id="w5" class="dropdown-menu">
                        <li><a href="/user" tabindex="-1"><i class="fa fa-user fa-fw"></i> 个人主页</a></li>
                        <li class="divider"></li>
                        <li><a href="/user/site" tabindex="-1"><i class="fa fa-cog fa-fw"></i> 帐户设置</a></li>
                        <li><a href="/user/registration" tabindex="-1"><i class="fa fa-calendar fa-fw"></i> 我的签到</a></li>
                        <li><a href="/user/post" tabindex="-1"><i class="fa fa-list fa-fw"></i> 我的发布</a></li>
                        <li><a href="/user/favorite" tabindex="-1"><i class="fa fa-star fa-fw"></i> 我的收藏</a></li>
                        <li><a href="/user/score" tabindex="-1"><i class="fa fa-database fa-fw"></i> 我的积分</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout" data-method="post" tabindex="-1"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="primary" class="col-lg-9 col-md-9">
                <div id="carousel-blog" class="carousel slide" data-ride="carousel" style="margin-bottom:20px;">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-blog" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-blog" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-blog" data-slide-to="2" class=""></li>
                        <li data-target="#carousel-blog" data-slide-to="3" class=""></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img data-src="holder.js/730x350/auto/#777:#555/text:First slide" alt="This Star Blog" src="/" data-holder-rendered="true">
                        </div>
                        <div class="item">
                            <a href="#" title="This Star Blog">
                                <img data-src="holder.js/730x350/auto/#666:#444/text:Second slide" alt="This Star Blog" src="/" data-holder-rendered="true">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" title="This Star Blog">
                                <img data-src="holder.js/730x350/auto/#666:#444/text:Second slide" alt="This Star Blog" src="/" data-holder-rendered="true">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" title="This Star Blog">
                                <img data-src="holder.js/730x350/auto/#555:#333/text:Third slide" alt="This Star Blog" src="/" data-holder-rendered="true">
                            </a>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-blog" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-blog" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div id="main" class="col-md-9 site-main">
                    <div id="post-4813" class="kb-article-excerpt post-4813 post type-post status-publish format-standard has-post-thumbnail hentry category-website tag-adminlte tag-angularjs tag-dingo tag-gulp tag-jwt tag-laravel tag-oauth tag-422 tag-251">
                        <div class="entry-header page-header">
                            <h2 class="entry-title"><a href="http://laravelacademy.org/post/4813.html" rel="bookmark">基于Laravel+Angularjs+Bootstrap+AdminLTE实现的后台模板 —— Laravel Angular Admin</a></h2>
                            <div class="entry-meta text-muted">
                                <span class="posted-on"><i class="glyphicon glyphicon-calendar"></i> Posted on
                                    <a href="http://laravelacademy.org/post/4813.html" rel="bookmark">
                                    <time class="entry-date published" datetime="2016-06-10T01:15:53+08:00">2016年6月10日</time>
                                    </a>
                                </span>
                                <span class="byline"> by
                                    <span class="author vcard">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <a class="url fn n" href="http://laravelacademy.org/post/author/nonfu">学院君</a>
                                    </span>
                                </span>
                                <span class="post-views" style="float:right;">
                                    <i class="glyphicon glyphicon-eye-open"></i> 620 views
                                </span>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="pull-left kb-thumb-medium hidden-xs">
                            <a rel="bookmark" href="#" class="thumbnail">
                                <img width="256" height="128" src="/" class="img-rounded wp-post-image" alt="This Star Blog" />
                            </a>
                        </div>
                        <div class="kb-thumb-large visible-xs">
                            <a rel="bookmark" href="#" class="thumbnail">
                                <img width="1414" height="200" src="/" class="img wp-post-image" alt="This Star Blog" />
                            </a>
                        </div>

                        <div class="entry entry-excerpt">
                            <p>1、简介 Laravel Angular Admin 是一个基于Laravel + Angularjs + Bootstrap + AdminLTE 实现的后台模板，使用了Gulp工作流，并且支持 OAuth 和 JWT 认证，此外使用 Dingo API 实现了RESTful API，还用到了 Restangular 和 UI-Router，在权限控制方面，使用了 Romanbican&hellip;</p>
                        </div>

                        <div class="clearfix"></div>
                        <div class="entry-meta">
                            <p class="visible-xs">
                                <a rel="bookmark" href="#" class="btn btn-primary btn-block">
                                    <i class="glyphicon glyphicon-link"></i>阅读全文
                                </a>
                            </p>
                            <p class="pull-right hidden-xs">
                                <a rel="bookmark" href="#" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-link"></i>阅读全文
                                </a>
                            </p>
                            <p class="text-muted hidden-xs meta-data">
								<span class="cat-links">
					                <i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;分类：
                                    <a href="#" rel="category tag">网站</a>
                                </span>
								<span class="tags-links">
					                <i class="glyphicon glyphicon-tags"></i> 标签：
                                    <a href="#" rel="tag">AdminLTE</a>,
                                    <a href="#" rel="tag">AngularJS</a>,
                                    <a href="#" rel="tag">Dingo</a>,
                                    <a href="#" rel="tag">Gulp</a>,
                                    <a href="#" rel="tag">JWT</a>,
                                    <a href="#" rel="tag">Laravel</a>,
                                    <a href="#" rel="tag">OAuth</a>,
                                    <a href="#" rel="tag">后台</a>,
                                    <a href="#" rel="tag">权限</a>
                                </span>
                                <span class="comments-link">&nbsp;&nbsp;
                                    <i class="glyphicon ipt-icon-bubbles2"></i>&nbsp;
                                    <a href="#" class="ds-thread-count" data-thread-key="4813">3 Comments</a>
                                </span>
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <nav>
                        <ul class="pager">
                            <li><a href="#">上一页</a></li>
                            <li><a href="#">下一页</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="secondary" class="col-lg-3 col-md-3">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-success disabled" href="/registration">
                        <i class="fa fa-calendar-check-o"></i>
                        今日已签到<br />已连续329天</a>
                    <a class="btn btn-primary" href="/registration">2016年06月12日<br/>今日已有102人签到</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><i class="fa fa-file-word-o"></i> 最新教程</h2>
                        <span class="pull-right"><a class="btn btn-xs" href="/tutorial">更多&raquo;</a></span>
                    </div>
                    <div class="panel-body">
                        <ul class="post-list">
                            <li><a href="/tutorial/801">Yii2下验证码的切换</a></li>
                            <li><a href="/tutorial/800">yii2实战教程之新手入门指南-简单博客管理系统</a></li>
                            <li><a href="/tutorial/798">windows下用composert方式安装YII2常见问题及解决</a></li>
                            <li><a href="/tutorial/793">yii2分页之实现跳转到具体某页</a></li>
                            <li><a href="/tutorial/791">超级小白如何安装Yii2的advanced及配置方法</a></li>
                            <li><a href="/tutorial/790">yii2中如何使用modal弹窗之基本使用</a></li>
                            <li><a href="/tutorial/788">Bootstrap 后台模板AdminLTE组件分享</a></li>
                            <li><a href="/tutorial/786">yii2实战教程之第一个Yii程序</a></li>
                            <li><a href="/tutorial/785">PHPWord（很少人会用到吧！）</a></li>
                            <li><a href="/tutorial/784">解析非x-www-form-urlencoded类型的请求数据（json,xml）</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="footer">
    <div class="container">
        <span class="pull-left">Copyright &copy; 2009-2016 by
            <a href="#">The Star Blog</a>. All Rights Reserved.
        </span>
        <span class="pull-right">
            <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备09104811号</a>
            <script src="http://s4.cnzz.com/z_stat.php?id=1256642902&web_id=1256642902" language="JavaScript"></script>
        </span>
    </div>
</div>
</body>
</html>