@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,lable,input,button,textarea,p,blockquote,th,td {margin:0;padding:0;}
fieldset,img{border:0;}
:focus{outline:0;}
body{line-height:22px;font-size:12px;color:#3c3c3c;background:#fff;font-family:'Microsoft Yahei';}
address,caption,cite,code,dfn,em,th,var,optgroup,i{ font-style:normal; font-weight:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
abbr,acronym {border:0;font-variant:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:12px;font-style:inherit;font-weight:inherit;color:#3c3c3c;}
ol,ul {list-style:none;}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;background:#fff;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{display:inline-block;}
.clearfix {display:block;}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}


a{color:#555555;text-decoration:none;}
a:hover{color:#56acd1;text-decoration:none;}

/**文字位置**/
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
.br{border-radius:3px;}

/**颜色**/
.block,a.block,a.block:hover{color:#000;}
.gray666,a.gray666,a.gray666:hover{color:#666;}
.orange,a.orange,a.orange:hover{color:#fc722d;}
.gray,a.gray,a.gray:hover{color:#999999;}
.white,a.white,a.white:hover{color:#fff;}
.yellow,a.yellow,a.yellow:hover{color:#ff8d04;}
.blue,a.blue,a.blue:hover{color:#55a7cb;}
.green,a.green,a.green:hover{color:#5eb300;}
.red,a.red,a.red:hover{color:#f70503;}

/**背景**/
.back-block{background:#000;}
.back-orange{background:#fc722d;}
.back-gray{background:#999999;}
.back-white{background:#fff;}
.back-yellow{background:#ff8d04;}
.back-blue{background:#55a7cb;}
.back-blue1{background:#658db3;}
.back-green{background:#94b86e;}
.back-red{background:#f70503;}
.back-pink{background:#fff7ee;}
.back-gold{background: #ffb717;}
.back-tab{background: #f9f9f9;}
.back-btn{background: #f1f1f1;}


/**线条颜色**/
.bc-border-block{border-color: #000;}
.bc-border-orange{border-color: #fc722d;}
.bc-border-gray{border-color: #999999;}
.bc-border-white{border-color: #fff;}
.bc-border-yellow{border-color: #ffcc33;}
.bc-border-ddd{border-color: #ddd;}
.bc-border-blue1{border-color:#658db3;}


/**浮动**/
.fl{float:left;}
.fr{float:right;}
.pa{position:absolute;}



/**鼠标**/
.cp{cursor:pointer;}
.cd{cursor:default;}

/**内间距**/
.pt5p{padding-top:5px;}
.pt10p{padding-top:10px;}
.pt15p{padding-top:15px;}
.pt20p{padding-top:20px;}

.pr5p{padding-right:5px;}
.pr10p{padding-right:10px;}
.pr15p{padding-right:15px;}
.pr20p{padding-right:20px;}

.pb5p{padding-bottom:5px;}
.pb10p{padding-bottom:10px;}
.pb15p{padding-bottom:15px;}
.pb20p{padding-bottom:20px;}

.pl5p{padding-left:5px;}
.pl10p{padding-left:10px !important;}
.pl15p{padding-left:15px;}
.pl20p{padding-left:20px;}
.pl70p{padding-left:70px;}

.ptb1pptb1p{padding-top:1px;padding-bottom:1px;}
.ptb2p{padding-top:2px;padding-bottom:2px;}
.ptb3p{padding-top:3px;padding-bottom:3px;}
.ptb5p{padding-top:5px;padding-bottom:5px;}
.ptb6p{padding-top:6px;padding-bottom:6px;}
.ptb7p{padding-top:7px;padding-bottom:7px;}

.ptb10p{padding-top:10px;padding-bottom:10px;}
.ptb15p{padding-top:15px;padding-bottom:15px;}
.ptb20p{padding-top:20px;padding-bottom:20px;}


.plr1p{padding-left:1px;padding-right:1px;}
.plr2p{padding-left:2px;padding-right:2px;}
.plr3p{padding-left:3px;padding-right:3px;}
.plr5p{padding-left:5px;padding-right:5px;}
.plr10p{padding-left:10px;padding-right:10px;}
.plr15p{padding-left:15px;padding-right:15px;}
.plr20p{padding-left:20px;padding-right:20px;}

.p10p{padding:10px;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
/**外间距**/
.mt-1p{margin-top:-1px;}
.mt-2p{margin-top:-2px;}
.mt-15p{margin-top:-15px;}
.mt5p{margin-top:5px;}
.mt10p{margin-top:10px;}
.mt15p{margin-top:15px;}
.mt20p{margin-top:20px;}

.mr5p{margin-right:5px;}
.mr10p{margin-right:10px;}
.mr15p{margin-right:15px;}
.mr20p{margin-right:20px;}

.mb5p{margin-bottom:5px;}
.mb10p{margin-bottom:10px;}
.mb15p{margin-bottom:15px;}
.mb20p{margin-bottom:20px;}

.ml5p{margin-left:5px;}
.ml10p{margin-left:10px;}
.ml15p{margin-left:15px;}
.ml20p{margin-left:20px;}
.ml50p{margin-left:50px;}
.ml70p{margin-left:70px;}

.mtb5p{margin-top:5px;margin-bottom:5px;}
.mtb10p{margin-top:10px;margin-bottom:10px;}
.mtb15p{margin-top:15px;margin-bottom:15px;}
.mtb20p{margin-top:20px;margin-bottom:20px;}

.mlr5p{margin-left:5px;margin-right:5px;}
.mlr10p{margin-left:10px;margin-right:10px;}
.mlr15p{margin-left:15px;margin-right:15px;}
.mlr20p{margin-left:20px;margin-right:20px;}
.mtlr10{margin: 10px 0px;}

/****边框****/
.b0{border: 0px;}

/**字体大小**/
.fs12p{font-size:12px;}
.fs13p{font-size:13px;}
.fs14p{font-size:14px;}
.fs16p{font-size:16px;}
.fs18p{font-size:18px;}
.fs20p{font-size:20px;}
.fs24p{font-size:24px;}
.fs28p{font-size:28px;}
.fs30p{font-size:30px;}

/**字体类型**/
.price{font-family:arial,verdana;}/* 人民币符号双划线 */
.ffw{font-family:'Microsoft Yahei';}
.ffs{font-family:'Microsoft Yahei';}
.ffa{font-family:Arial,Helvetica,sans-serif;}

/**width**/
.w20p{width:20px;}
.w30p{width:30px;}
.w40p{width:40px;}
.w50p{width:50px;}
.w70p{width: 70px;}
.w80p{width: 80px;}
.w90p{width: 90px;}
.w100p{width:100px;}
.w110p{width:100px;}
.w120p{width:120px;}
.w135p{width:135px;}
.w150p{width:150px;}
.w160p{width:160px;}
.w170p{width:170px;}
.w180p{width:180px;}
.w200p{width:200px;}
.w250p{width:250px;}
.w300p{width:300px;}
.w335p{width:335px;}
.w350p{width:350px;}
.w400p{width:400px;}
.w450p{width:450px;}
.w1156p{width:1156px;}
.w1200p{width:1200px;}
.w1215p{width:1215px;}

.w100{width:100%;}
.w98{width:98%;}
.w90{width:90%;}
.w80{width:80%;}




.ti9p{text-indent:-9999px;}
.oh{overflow:hidden;}
.ofa{overflow-y:auto;}
/**height**/
.h10p{height:10px;}
.h20p{height:20px;}
.h30p{height:30px;}
.h40p{height:40px;}
.h50p{height:50px;}
.h80p{height:80px;}
.h100p{height:100px;}
.h120p{height:120px;}
.h150p{height:150px;}
.h175p{height:175px;}
.h200p{height:200px;}
.h400p{height:400px;}

/**行高**/
.lh20p{line-height:20px;}
.lh22p{line-height:22px;}
.lh24p{line-height:24px;}
.lh26p{line-height:26px;}
.lh30p{line-height:30px;}
.lh32p{line-height:32px;}
.lh34p{line-height:34px;}
.lh50p{line-height:50px;}


/**文本水平垂直**/
.tal{text-align:left !important;}
.tac{text-align:center !important;}
.tar{text-align:right !important;}
.vat{vertical-align:top !important;}
.vam{vertical-align:middle !important;}
.vab{vertical-align:bottom !important;}

/**文本**/
.fwb{font-weight:bold;}
.fwn{font-weight:normal;}

/**文本超过，用。。。**/
.ellipsis{white-space:nowrap; display:inline-block; overflow:hidden; margin-right: 0px; text-overflow:ellipsis; }

/**元素转换**/

.di{display:inline;}
.dib{display:inline-block;}
.db{display:block;}
.dn{display:none;}
.hand{cursor: pointer;}
/**文本框**/
.bn{border:none;}
.it{border:1px solid #bababa;border-radius:3px;}
.bb1d{border-bottom: 1px solid #ddd;}
.bd{border:1px solid #dcdcdc;}
.bt0{border-top:0 none;}

.bl{border-left: 0px solid;}
.br{border-right: 0px solid;}
.bt{border-top:0px solid; }
.bb{border-bottom: 0px solid;}


.bl1{border-left: 1px solid;}
.br1{border-right: 1px solid;}
.bt1{border-top:1px solid; }
.bb1{border-bottom: 1px solid;}

/**修正checkbox**/
.cb{margin-bottom:1px;margin-top:-1px;vertical-align:middle;}

.oa{overflow:auto;}

.input-underline{border:0 none;background:#fff;border-bottom:1px solid #000000;padding:0 5px;}

/**下划线**/
.tdn{text-decoration:none;}
.tdu{text-decoration:underline;}
.tdlt{text-decoration:line-through;}

/* 表格公用样式*/

.table_hide{
    display: none;
}
.btn{border:0 none;background:none;height:30px;line-height:30px;color:#fff;padding:0 20px;font-weight:bold;text-shadow:0 0 1px #333;cursor:pointer;border-radius:4px;
background:#55a7cb;}

.btn0{border:0 none;height:30px;line-height:30px;color:#fff;padding:0 20px;font-weight:bold;text-shadow:0 0 1px #333;cursor:pointer;border-radius:4px;}

.bgfff{background:none repeat scroll 0 0 #ffffff;}
.bg {
    background-image: -moz-linear-gradient(top, #8fa1ff, #3757fa); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6ff00', endColorstr='#538300', GradientType='0'); /* IE*/
}

/*************confirm*************/
#confirmOverlay{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:url('ie.png');
    background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
    z-index:100000;
}

.pr{position: relative;}

#confirmBox{
    background:#FFF;
    width:460px;
    position:fixed;
    left:50%;
    top:50%;
    margin:-130px 0 0 -230px;
    border: 1px solid rgba(33, 33, 33, 0.6);

    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
}

#confirmBox h1,
#confirmBox p{
    /*font:26px/1 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;*/
    /*background:url('header_bg.jpg') repeat-x left bottom #f5f5f5;*/
    /*padding: 18px 25px;*/
    /*text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);*/
    /*color:#666;*/
}

#confirmBox h1{
    /*letter-spacing:0.3px;*/
    /*color:#888;*/
}

#confirmBox p{
    background:none;
    font-size:16px;
    text-align: center;
    line-height:1.4;
    padding-top: 35px;
}

#confirmButtons{
    padding:15px 0 25px;
    text-align:center;
}

#confirmBox .button{
    display:inline-block;
    /*background:url('buttons.png') no-repeat;*/
    color:white;
    position:relative;
    height: 33px;

    font:17px/33px 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;

    margin-right: 15px;
    padding: 0 35px 0 40px;
    text-decoration:none;
    border:none;
}


#confirmBox .button:last-child{	margin-right:0;}

#confirmBox .button span{
    position:absolute;
    top:0;
    right:-5px;
    background:url('buttons.png') no-repeat;
    width:5px;
    height:33px
}

#confirmBox .blue{				background-position:left top;text-shadow:1px 1px 0 #5889a2;}
#confirmBox .blue span{			background-position:-195px 0;}
#confirmBox .blue:hover{		background-position:left bottom;}
#confirmBox .blue:hover span{	background-position:-195px bottom;}

#confirmBox .gray{				background-position:-200px top;text-shadow:1px 1px 0 #707070;}
#confirmBox .gray span{			background-position:-395px 0;}
#confirmBox .gray:hover{		background-position:-200px bottom;}
#confirmBox .gray:hover span{	background-position:-395px bottom;}

/*文字边框*/
.fb_red{padding: 0 3px;color: #f90023;background: #fff;border-radius: 3px;font-size: 10px;border: 1px solid #f90023;}
.fb_green{padding: 0 3px;color: #5eb300;background: #fff;border-radius: 3px;font-size: 10px;border: 1px solid #5eb300;}
.fb_blue{padding: 3px 3px;color: #55a7cb;background: #fff;border-radius: 3px;font-size: 10px;border: 1px solid #55a7cb;}
.fb_orange{padding: 3px 3px;color: #fc722d;background: #fff;border-radius: 3px;font-size: 10px;border: 1px solid #fc722d;}

/*背景框*/
.y_bc_red{border-radius: 50%; background: #eb0f11; color: #fff; font-size: 10px; line-height: 12px; height: 12px; font-family: '微软雅黑'; padding: 1px 4px;}
.y_bc_yellow{border-radius: 50%; background: #f7aa3b; color: #fff; font-size: 10px; line-height: 12px; height: 12px; font-family: '微软雅黑'; padding: 1px 4px;}
.y_bc_green{border-radius: 50%; background: #3BC67A; color: #fff; font-size: 10px; line-height: 12px; height: 12px; font-family: '微软雅黑'; padding: 1px 4px;}
.y_bc_blue{border-radius: 50%; background: #65b6db; color: #fff; font-size: 10px; line-height: 12px; height: 12px; font-family: '微软雅黑'; padding: 1px 4px;}
.y_bc_gray{border-radius: 50%; background: #363636; color: #fff; font-size: 10px; line-height: 12px; height: 12px; font-family: '微软雅黑'; padding: 1px 4px;}
.y_bc_orange{border-radius: 50%; background: #d3b372; color: #fff; font-size: 10px; line-height: 12px; height: 12px; font-family: '微软雅黑'; padding: 1px 4px;}

/**nav**/
.nav {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}
.nav::before, .nav::after {
    content: " ";
    display: table;
}
.nav::after {
    clear: both;
}
.nav::before, .nav::after {
    content: " ";
    display: table;
}
.nav::after {
    clear: both;
}
.nav > li {
    display: block;
    position: relative;
}
.nav > li > a {
    display: block;
    padding: 10px 15px;
    position: relative;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #eee;
    text-decoration: none;
}
.nav > li.disabled > a {
    color: #999;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    background-color: transparent;
    color: #999;
    cursor: not-allowed;
    text-decoration: none;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eee;
    border-color: #428bca;
}
.nav .nav-divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.nav > li > a > img {
    max-width: none;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
}
.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555;
    cursor: default;
}
.nav-tabs.nav-justified {
    border-bottom: 0 none;
    width: 100%;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > li > a {
    text-align: center;
}
/***col***/
.col-xs-4{
    width: 33.3%;
    float: left;
}

.ui-tooltip, .arrow:after {
    background: #f5f5f5;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: #000;
    border-radius: 20px;

    font: bold 14px "Helvetica Neue", Sans-Serif;

    /*text-transform: uppercase;*/
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

