<!--js加载-->
<script type="text/javascript" src="<{$Think.const.JS}>/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="<{$Think.const.JS}>/bootstrap.min.js?v=3.3.6"></script>
<script type="text/javascript" src="<{$Think.const.JS}>/plugins/metisMenu/jquery.metisMenu.js"></script>
<script type="text/javascript" src="<{$Think.const.JS}>/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="<{$Think.const.JS}>/plugins/layer/layer.min.js"></script>
<script type="text/javascript" src="<{$Think.const.JS}>/hplus.min.js?v=4.1.0"></script>
<script type="text/javascript" src="<{$Think.const.JS}>/contabs.min.js"></script>
<script type="text/javascript" src="<{$Think.const.JS}>/plugins/pace/pace.min.js"></script>
</html>