<header id="topnav" class="navbar navbar-midnightblue navbar-fixed-top clearfix" role="banner">
			<span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
				<a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar"><span class="icon-bg"><i class="fa fa-fw fa-bars"></i></span></a>
			</span>
    <a class="navbar-brand" href="index.html">塑米城管理后台</a>
    <ul class="nav navbar-nav toolbar pull-right">
        <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
            <a href="#" class="toggle-fullscreen">
                <span class="icon-bg"><i class="fa fa-fw fa-arrows-alt"></i></span>
            </a>
        </li>
        <li class="dropdown toolbar-icon-bg">
            <a href="#" class="dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="fa fa-fw fa-user"></i></span></a>
            <ul class="dropdown-menu userinfo arrow">
                <li><a href="/login/logout"><span class="pull-left">退出登录</span> <i class="pull-right fa fa-sign-out"></i></a></li>
            </ul>
        </li>
    </ul>
</header>